@model IEnumerable<DoanLTWeb.Models.Product>
@foreach (var item in Model)
{
    <div class="menu-item d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded-circle" src="@item.Image" alt="">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>@item.Name</h4>
                                            <h4 class="text-primary">@item.Price VNĐ</h4>
                                        </div>
                                        <p class="mb-0">@item.Detail</p>
                                    </div>
    </div>
}
